@page
@model SirclDocs.Website.Pages.ProtoModel
@{
    Layout = "_Layout";
}

===
<div id="demo" class="container target" onload-load="/Samples/Expense" style="padding: 12px;">
</div>
===

<style>
    #demo strong {
        font-size: 140%;
    }

    #demo .line {
        border: solid 1px gray;
        border-radius: 3px;
        background-color: white;
        padding: 4px;
        margin-top: 8px;
    }

    #demo .field {
    }

    #demo .formfooter {
        margin-top: 18px;
    }

    #demo input:not([type='radio']), #demo select {
        width: 200px;
        border-radius: 3px;
    }

    #demo input[type='text'] {
        width: 400px;
    }

    #demo button {
        border: solid 1px gray;
        border-radius: 3px;
    }

    #demo button:disabled {
        border: solid 1px lightgray;
    }
</style>