@page
@model SirclDocs.Website.Pages.ProtoModel
@{
    Layout = "_Layout";
}

@*<div id="demo">
        <form action="/Samples/DataTableWithSelection" class="onchange-submit target" onload-load="/Samples/DataTableWithSelection">
        </form>
    </div>*@

<div id="demo" class="container target" onload-load="/Samples/TaskBoard" style="padding: 12px;">
</div>

<style>

    .ondrop-submit {
        min-height: 64px;
    }

    .drop-zone {
        background-color: lightgreen;
    }

        .drop-zone * {
            pointer-events: none;
        }
</style>