@page
@model SirclDocs.Website.Pages.ProtoModel
@{
    Layout = "_Layout";
}

@*<div id="demo">
    <form action="/Samples/DataTableWithSelection" class="onchange-submit target" onload-load="/Samples/DataTableWithSelection">
    </form>
</div>*@

<div id="demo" class="container" onload-load="/Samples/InfiniteScroll" style="padding: 12px;">

</div>