@model int
@{
    Layout = null;
}
<p>
    The quick brown fox jumps over the lazy dog.<br />
    The quick brown fox jumps over the lazy dog.<br />
    The quick brown fox jumps over the lazy dog.<br />
</p>
@if (Model == 1)
{
    var tzdiff = Int32.Parse(this.Context.Request.Headers["X-Sircl-Timezone-Offset"].ToString() ?? "0");
    var now = DateTime.UtcNow.AddMinutes(-tzdiff);
    <p>@(now.ToString("HH:mm:ss"))</p>
}