@model int
@{
    Layout = null;
}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
@if (Model == 1)
{
    var tzdiff = Int32.Parse(this.Context.Request.Headers["X-Sircl-Timezone-Offset"].ToString() ?? "0");
    var now = DateTime.UtcNow.AddMinutes(-tzdiff);
    <p>@(now.ToString("HH:mm:ss"))</p>
}