@model SirclDocs.Website.Models.Samples.Recipe
<h2>Recipes</h2>

<div id="recipe-list">
</div>

<a class="btn btn-primary onclick-disable"
   href="/Samples/RecipeBookAdd"
   target="#recipemodal"
   onkeydown-click="+">
    <i class="fas fa-plus spinner"></i> Add...
</a>

<div id="recipemodal" class="modal fade target" data-bs-backdrop="static" tabindex="-1">
</div>

<style>
    .validation-summary-valid {
        display: none;
    }
</style>