@model SirclDocs.Website.Models.Samples.TaskList
@{
    Layout = null;
}
<div class="overlay" hidden></div>
@for (int i = 0; i < Model.Tasks.Count; i++)
{
    <p>
        <input type="hidden" asp-for="Tasks[i]" />
        <button type="submit" class="btn btn-light btn-sm" formaction="/Samples/RemoveFromTaskList?index=@i">&times;</button>
        @Model.Tasks[i]
    </p>
}
<p onkeyenter-click=">[type='submit']">
    <input type="text" name="newTask" />
    <button type="submit" class="btn btn-secondary btn-sm" formaction="/Samples/AddToTaskList">Add</button>
</p>